.login-row {
      display: flex;
      flex-direction: row;
      justify-content: center;
}

.login-column {
    display: flex;
    flex-direction: column;;
    justify-content: center;

    .login-logo {
        width: 70px;
        display: block;
        margin: 0 auto;
    }

    .login {
        max-width: 250px;
        margin: 0 auto;
        margin-top: 20px;
    }

    button {
        display: block;
        margin: 0 auto;
        width: 100%;
    }
}

.login-links {
    text-align: center;
    padding: 20px;

    a {
        line-height: 2;
    }
}

.why-hlo {
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('../images/login-background.jpg');
    background-size: cover;
    background-position: center center;
    color: $purewhite;
    text-align: center;
    display: flex;
    flex-direction: column;;
    justify-content: center;

    .why-hlo-desc {
        max-width: 330px;
        margin: 0 auto;
        text-align: left;

        h3 {
            margin-bottom: 30px;
        }

        p {
            line-height: 2;
        }

        .fa-heart {
            margin-right: 10px;
        }
    }
}

.show-alert{
    transition: opacity 1s;
    opacity: 1;
}

.hide-alert{
    transition: opacity 1s;
    opacity: 0;
    pointer-events:none;
}

.alert {
    margin-top: 20px;
    margin-bottom: 0px;
}
