/* button */
.btn {
    border-radius: 5px;
    padding: 8px 15px;
}

/* primary CTA */
.btn-primary {
    background-color: $pink;
    border-color: $pink;
}
/* hover of primary CTA */
.btn-primary:hover, .btn-primary:active, .btn-primary:focus, .btn-primary:active:hover {
      background-color: $primaryhover;
      border-color: $primaryhover;
}

/* secondary CTA */
.btn-default {
    background-color: $lightgrey;
    border-color: $lightgrey;
}
/* hover of secondary CTA */
.btn-default:hover, .btn-default:active, .btn-default:focus, .btn-default:active:hover {
    background-color: $defaulthover;
    border-color: $defaulthover;
}

/* secondary CTA, clear version */
.btn-default-clear {
    background-color: transparent;
    border-color: $white;
    color: $purewhite;
    transition: background 0.2s linear;
}

.btn-default-clear:hover, .btn-default-clear:active, .btn-default-clear:focus, .btn-default-clear:active:hover {
    background-color: $white;
    color: $pureblack;
}

/* button customizations for certain pages */
.home-buttons {
    /* larger home buttons */
    .btn {
        margin-right: 15px;
        padding: 12px 30px;
        border-radius: 8px;
    }
}

.pricing-table {
    .btn {
        width: 80%;
        padding: 15px 0px;
        border-radius: 8px;
    }
}

.login-buttons {
    .btn {
        padding: 20px 0px;
        border-radius: 15px;
        margin: 15px;
        display: block;
    }
}
