.pricings {
    background: linear-gradient($green, $darkgreen); /* Standard syntax */
    color: $purewhite;
    text-align: center;
    padding: 50px 0px;
}

.insurance {
    padding-top: 20px;
}

@media (min-width: 767px) {
    .insurance {
        padding: 40px 120px 10px 120px; /* top right bottom left */
        opacity: 0.75;
    }
}