.dashbar {
    padding-top: 20px;
    padding-bottom: 10px;

    .col-xs-3 {
        opacity: 0.4;
    }

    .active {
        opacity: 1;
    }
}

.dashboard-logo {
    height: 40px;
    padding: 5px;
    cursor: pointer;
}

.dashbar-text {
    cursor: pointer;
}