.dashbody {
    border-top: 1px solid $lightgrey; /* border between dashboard tabs */
    padding-top: 20px;
    padding-bottom: 40px;
}

.button-col {
    text-align: right; /* new job button */

    a {
        margin-top: 20px;
    }
}
