$font-stack: NotoSans, Helvetica;

/* primary colors */
$red: #E53935;
$pink: #F06292;
$darkgreen: #174c1b;
$green: #388E3C;

/* secondary colors */
$whitegrey: #f9f9f9;
$lightgrey: #efefef;
$mediumgrey: #919191;
$grey: #424242;
$lightpink: #FCE4EC;

/* tertiary colors */
$yellow: #FFC107;
$darkred: #B71C1C;
$mediumpink: #F48FB1;

/* blacks and whites */
$white: #FEFEFE;
$black: #1B1B1B;

/* body texts*/
$pureblack: #000000;
$purewhite: #ffffff;

/* hovered buttons */
$primaryhover: #f06fa0;
$defaulthover: #E6E6E6;
