.experts {
    img {
        width: 100%;
    }

    .col-md-6 {
        position: relative;

        .caption {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            background: rgba(0, 0, 0, 0.8);
            overflow: hidden;
            width: 100%;
            box-sizing: border-box;
        }
    }
}