.experts {
    img {
        width: 100%;
    }

    .col-sm-6 {
        margin-top: 30px;
    }
}

.caption {
    background: rgba(0, 0, 0, 0.8);
    overflow: hidden;
    width: 100%;
    box-sizing: border-box;
    color: $purewhite;
    padding: 25px;
    margin-top: -78px;
    font-size: 20px;
    position: relative;
}