.profile-head {
    margin-top: -150px;
}

@media (max-width: 767px) {
    .profile-head { /* center name when mobile */
        text-align: center;
    }
}


.label-success {
    background-color: $darkgreen;
}

.name {
    padding-top: 50px;

    h1 {
        color: $purewhite;
        font-weight: bold;
    }
}

.rating {
    font-size: 20px;
}

.rating a {
    color: $purewhite;
}

@media(max-width: 767px) { /* name container mobile */
    .name {
        padding-top: 0px;

        h1 {
            color: $pureblack;
        }
    }

    .rating a {
        color: $pureblack;
    }
}

.profile-buttons {
    text-align: center;

    .btn {
        margin-right: 2px;
        margin-left: 2px;
        margin-top: 100px;
    }
}

@media (max-width: 767px) {
    .profile-buttons {
        .btn {
            margin-top: 0px;
        }
    }
}
