@media (min-width: 768px) {
    .profile-sidebar {
        margin-top: -70px;
    }
}

/* black bar */
.location-bar {
    color: $purewhite;
    background-color: $black;
    padding: 15px 25px 5px 25px; /* top right bottom left */
    margin-left: -15px; /* fix until collaspe */
}

.sidebar-section {
    padding: 10px 10px 0px 10px;

    h5 {
        font-weight: bold;
    }

    p {
        padding-bottom: 20px;
    }
}

.fail-check{
    color: $red;
}

.pass-check {
    color: $green;
}
