.header {
    background-color: $red;
    color: $purewhite;
    padding: 20px 0px 30px 0px;
    background-image: url('../images/infopage/pluses.png');
    background-repeat: no-repeat;
    background-size: 1170px; /* make max-width 1170px */
    background-position: center center;
}

@media (max-width: 767px) {
    .header {
        padding: 10px 0px 20px 0px;
    }
}

@media (max-width: 1200px) {
    .header { /* stays lined up with container */
        background-size: 970px; 
    }
}

@media (max-width: 992px) {
    .header {
        background-image: none;
    }
}