.header {
    background-color: $red;
    color: $purewhite;
    padding: 20px 0px 30px 0px;

    .header-image-col {
        text-align: right;
    }

    .header-image {
        width: 50%;
    }
}
