/* get the sizes of the navbar right */
.navbar {
    min-height: 70px;
    margin-bottom: 0px;
    .navbar-nav {
        @media (min-width: 768px) {
            a {
                line-height: 70px;
                padding-top: 0px;
                padding-bottom: 0px;
            }
        }
        @media (min-width: 768px) {
            .dropdown-menu > li > a {
                line-height: 45px;
            }

            .dropdown-menu { /* detach from navbar */
                margin-top: 15px;
                border-radius: 4px; /* round menu */
                border: none;
            }
        }

        /* carrot arrow */
        .dropdown-menu:after {
            content:"";
            position: absolute;
            right: 5px;
            top: -8px;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 17px 17px 17px;
            border-color: transparent transparent $white transparent;
            z-index:9998;
        }
    }
}

/* styles of the default white */
.navbar-default {
    background-color: transparent;
    border: none;
    .navbar-nav, .nav {
        > .open { /* dropdown is OPEN */
            > a, a:focus, a:hover, a:active {
                background-color: transparent;
                color: $grey;
            }
        }
        > li:hover, li:active, li:focus { /* when dropdown is hovered/clicked, style the <a> link */
            > a, a:hover {
                background-color: transparent;
                color: $grey;
            }
        }
        > li {
            padding: 0px 3px 0px 3px;
            > a, a:hover, a:focus { /* link color on hover */
                color: $grey;
            }
        }
        > .active { /* current link is the page u are on */
            > a, a:hover, a:focus {
                background-color: transparent;
                color: $grey;
            }
        }
    }
}

/* logo styling */
.navbar-brand {
    padding: 0px;
    min-height: 70px;
}

.logo {
    height: 100%;
    padding: 10px 5px 10px 5px;
    margin-left: 5px;
}

/* navbar divider the ||| */
.navbar-divider {
    line-height: 70px;
}

@media (max-width: 767px) { /* mobile dropdown, no color on hover */
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: $pureblack;
    }
}
