/*
    HealthyLovedOnes SCSS + Bootstrap
    Author: Kristel Fung
    Version: v1.0.0
*/
/* BASE - styles, variables, mixins... */
/* primary colors */
/* secondary colors */
/* tertiary colors */
/* blacks and whites */
/* body texts*/
/* hovered buttons */
@font-face {
  font-family: 'NotoSans';
  src: local("NotoSans"), url(../fonts/NotoSans/NotoSans-Regular.ttf) format("ttf");
}

/* line 6, /Users/s180024/Documents/hlo-react/src/scss/base/_base.scss */
html, body {
  font-family: NotoSans, Helvetica;
  color: #000000;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* line 15, /Users/s180024/Documents/hlo-react/src/scss/base/_base.scss */
h3 {
  font-size: 26px;
}

/* line 19, /Users/s180024/Documents/hlo-react/src/scss/base/_base.scss */
h4 {
  font-size: 22px;
}

/* line 23, /Users/s180024/Documents/hlo-react/src/scss/base/_base.scss */
h5 {
  font-size: 16px;
}

/* line 27, /Users/s180024/Documents/hlo-react/src/scss/base/_base.scss */
h6 {
  font-size: 12px;
}

/* line 31, /Users/s180024/Documents/hlo-react/src/scss/base/_base.scss */
p {
  font-size: 14px;
}

/* line 35, /Users/s180024/Documents/hlo-react/src/scss/base/_base.scss */
hr {
  border-top: 1px solid #919191;
  opacity: 0.4;
}

/* TODO: ADD LI???? */
/* line 41, /Users/s180024/Documents/hlo-react/src/scss/base/_base.scss */
h1, h2, h3, h4, h5, h6, p {
  opacity: 0.87;
}

/* line 45, /Users/s180024/Documents/hlo-react/src/scss/base/_base.scss */
.text-center {
  text-align: center;
}

/* line 49, /Users/s180024/Documents/hlo-react/src/scss/base/_base.scss */
.container-small {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  /* line 57, /Users/s180024/Documents/hlo-react/src/scss/base/_base.scss */
  .container-small {
    width: 700px;
  }
}

@media (min-width: 992px) {
  /* line 63, /Users/s180024/Documents/hlo-react/src/scss/base/_base.scss */
  .container-small {
    width: 700px;
  }
}

@media (min-width: 1200px) {
  /* line 68, /Users/s180024/Documents/hlo-react/src/scss/base/_base.scss */
  .container-small {
    width: 700px;
  }
}

/* COMPONENTS - jumbotron, buttons, pricings... */
/* button */
/* line 2, /Users/s180024/Documents/hlo-react/src/components/Button/_buttons.scss */
.btn {
  border-radius: 5px;
  padding: 8px 15px;
}

/* primary CTA */
/* line 8, /Users/s180024/Documents/hlo-react/src/components/Button/_buttons.scss */
.btn-primary {
  background-color: #F06292;
  border-color: #F06292;
}

/* hover of primary CTA */
/* line 13, /Users/s180024/Documents/hlo-react/src/components/Button/_buttons.scss */
.btn-primary:hover, .btn-primary:active, .btn-primary:focus, .btn-primary:active:hover {
  background-color: rgba(240, 98, 146, 0.9);
  border-color: rgba(240, 98, 146, 0.9);
}

/* secondary CTA */
/* line 19, /Users/s180024/Documents/hlo-react/src/components/Button/_buttons.scss */
.btn-default {
  background-color: #efefef;
  border-color: #efefef;
}

/* hover of secondary CTA */
/* line 24, /Users/s180024/Documents/hlo-react/src/components/Button/_buttons.scss */
.btn-default:hover, .btn-default:active, .btn-default:focus, .btn-default:active:hover {
  background-color: #E6E6E6;
  border-color: #E6E6E6;
}

/* secondary CTA, clear version */
/* line 30, /Users/s180024/Documents/hlo-react/src/components/Button/_buttons.scss */
.btn-default-clear {
  background-color: transparent;
  border-color: #FEFEFE;
  color: #ffffff;
  transition: background 0.2s linear;
}

/* line 37, /Users/s180024/Documents/hlo-react/src/components/Button/_buttons.scss */
.btn-default-clear:hover, .btn-default-clear:active, .btn-default-clear:focus, .btn-default-clear:active:hover {
  background-color: #FEFEFE;
  color: #000000;
}

/* button customizations for certain pages */
/* line 43, /Users/s180024/Documents/hlo-react/src/components/Button/_buttons.scss */
.home-buttons {
  /* larger home buttons */
}

/* line 45, /Users/s180024/Documents/hlo-react/src/components/Button/_buttons.scss */
.home-buttons .btn {
  margin-right: 15px;
  padding: 12px 30px;
  border-radius: 8px;
}

/* line 53, /Users/s180024/Documents/hlo-react/src/components/Button/_buttons.scss */
.pricing-table .btn {
  width: 80%;
  padding: 15px 0px;
  border-radius: 8px;
}

/* line 61, /Users/s180024/Documents/hlo-react/src/components/Button/_buttons.scss */
.login-buttons .btn {
  padding: 20px 0px;
  border-radius: 15px;
  margin: 15px;
  display: block;
}

/* HOME PAGE */
/* line 1, /Users/s180024/Documents/hlo-react/src/components/Body/Home/Hero/_hero.scss */
.jumbotron {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/home-background.jpg");
  background-size: cover;
  background-position: center center;
  min-height: 500px;
  color: #ffffff;
  margin-bottom: 0px;
}

/* line 10, /Users/s180024/Documents/hlo-react/src/components/Body/Home/Hero/_hero.scss */
.jumbotron h1 {
  font-size: 42px;
}

/* line 14, /Users/s180024/Documents/hlo-react/src/components/Body/Home/Hero/_hero.scss */
.jumbotron p {
  font-size: 16px;
}

/* line 18, /Users/s180024/Documents/hlo-react/src/components/Body/Home/Hero/_hero.scss */
.hlo-desc {
  padding: 15px 5px 60px 5px;
  /* top right bottom left */
  text-align: center;
}

/* line 23, /Users/s180024/Documents/hlo-react/src/components/Body/Home/Hero/_hero.scss */
.home-buttons {
  /* transparent black container */
  text-align: left;
  width: 550px;
  padding: 40px 60px 50px 40px;
  margin-right: 0px;
  background-color: rgba(0, 0, 0, 0.7);
}

/* line 1, /Users/s180024/Documents/hlo-react/src/components/Body/Home/Desc/_desc.scss */
.home-about-media {
  width: 70%;
  padding: 50px 0px;
}

@media (max-width: 768px) {
  /* mobile for graphic and vid */
  /* line 7, /Users/s180024/Documents/hlo-react/src/components/Body/Home/Desc/_desc.scss */
  .home-about-media {
    width: 100%;
  }
}

/* line 12, /Users/s180024/Documents/hlo-react/src/components/Body/Home/Desc/_desc.scss */
.home-about {
  text-align: center;
  padding: 60px 10px;
}

/*# sourceMappingURL=../css/main.map */