/*
    HealthyLovedOnes SCSS + Bootstrap
    Author: Kristel Fung
    Version: v1.0.0
*/
/* BASE - styles, variables, mixins... */
/* primary colors */
/* secondary colors */
/* tertiary colors */
/* blacks and whites */
/* body texts*/
/* hovered buttons */
@font-face {
  font-family: 'NotoSans';
  src: local("NotoSans"), url(../fonts/NotoSans/NotoSans-Regular.ttf) format("ttf"); }

html, body {
  font-family: NotoSans, Helvetica;
  color: #000000;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden; }

h3 {
  font-size: 26px; }

h4 {
  font-size: 22px; }

h5 {
  font-size: 16px; }

h6 {
  font-size: 12px; }

p {
  font-size: 14px; }

hr {
  border-top: 1px solid #919191;
  opacity: 0.4; }

/* TODO: ADD LI???? */
h1, h2, h3, h4, h5, h6, p {
  opacity: 0.87; }

.text-center {
  text-align: center; }

.container-small {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }

@media (min-width: 768px) {
  .container-small {
    width: 700px; } }

@media (min-width: 992px) {
  .container-small {
    width: 700px; } }

@media (min-width: 1200px) {
  .container-small {
    width: 700px; } }

/* misc */
.fa-star {
  color: #FFC107; }

.label-success {
  background-color: #174c1b;
  margin-right: 5px; }

/* COMPONENTS - jumbotron, buttons, pricings... */
/* button */
.btn {
  border-radius: 5px;
  padding: 8px 15px; }

/* primary CTA */
.btn-primary {
  background-color: #F06292;
  border-color: #F06292; }

/* hover of primary CTA */
.btn-primary:hover, .btn-primary:active, .btn-primary:focus, .btn-primary:active:hover {
  background-color: #f06fa0;
  border-color: #f06fa0; }

/* secondary CTA */
.btn-default {
  background-color: #efefef;
  border-color: #efefef; }

/* hover of secondary CTA */
.btn-default:hover, .btn-default:active, .btn-default:focus, .btn-default:active:hover {
  background-color: #E6E6E6;
  border-color: #E6E6E6; }

/* secondary CTA, clear version */
.btn-default-clear {
  background-color: transparent;
  border-color: #FEFEFE;
  color: #ffffff;
  transition: background 0.2s linear; }

.btn-default-clear:hover, .btn-default-clear:active, .btn-default-clear:focus, .btn-default-clear:active:hover {
  background-color: #FEFEFE;
  color: #000000; }

/* button customizations for certain pages */
.home-buttons {
  /* larger home buttons */ }
  .home-buttons .btn {
    margin-right: 15px;
    padding: 12px 30px;
    border-radius: 8px; }

.pricing-table .btn {
  width: 80%;
  padding: 15px 0px;
  border-radius: 8px; }

.login-buttons .btn {
  padding: 20px 0px;
  border-radius: 15px;
  margin: 15px;
  display: block; }

/* LAYOUTS - footer, header, navbar */
.footer-top {
  background-color: #424242;
  color: #ffffff; }
  .footer-top .row {
    padding: 50px 0px; }
  .footer-top h3 {
    font-weight: bold; }
  .footer-top li {
    line-height: 1.6;
    opacity: 0.87; }
  .footer-top li:hover {
    opacity: 1; }
  .footer-top .logo-container {
    text-align: right;
    padding-top: 180px; }
  .footer-top .footer-logo {
    height: 40px;
    display: inline-block;
    padding: 0px 12px; }
  .footer-top a {
    color: #ffffff;
    text-decoration: none; }

.footer-bottom {
  background-color: #1B1B1B;
  color: #ffffff;
  padding: 20px 0px 10px 0px; }

/* HOME PAGE */
.jumbotron {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/home/home-background.jpg");
  background-size: cover;
  background-position: center center;
  min-height: 500px;
  color: #ffffff;
  margin-bottom: 0px; }

.jumbotron h1 {
  font-size: 42px; }

.jumbotron p {
  font-size: 16px; }

.hlo-desc {
  padding: 15px 5px 60px 5px;
  /* top right bottom left */
  text-align: center; }

.home-buttons {
  /* transparent black container */
  text-align: left;
  width: 550px;
  padding: 40px 60px 50px 40px;
  margin-right: 0px;
  background-color: rgba(0, 0, 0, 0.7); }

.green-bar {
  background-color: #174c1b;
  padding: 10px 0px;
  color: #ffffff; }
  .green-bar .col-sm-8 {
    text-align: right; }
  .green-bar a {
    color: #ffffff; }

.home-about-media {
  width: 70%;
  padding: 50px 0px; }

@media (max-width: 768px) {
  /* mobile for graphic and vid */
  .home-about-media {
    width: 100%; } }

.home-about {
  text-align: center;
  padding: 60px 10px; }

.pricings {
  background: linear-gradient(#388E3C, #174c1b);
  /* Standard syntax */
  color: #ffffff;
  text-align: center;
  padding: 50px 0px; }

.insurance {
  padding-top: 20px; }

@media (min-width: 767px) {
  .insurance {
    padding: 40px 120px 10px 120px;
    /* top right bottom left */
    opacity: 0.75; } }

.price-box {
  /* contains HK$ 0/mo */
  display: inline-block;
  text-align: left;
  color: #B71C1C;
  position: relative; }

.dollar {
  /* the HK$ */
  position: absolute;
  /* makes it float */
  margin-top: 20px;
  left: -15px; }

.per-month {
  /* /mo */
  position: absolute;
  /* float */
  margin-top: 51px;
  right: -15px; }

.pricing-table {
  margin: 0 auto;
  margin-top: 40px;
  color: #000000;
  padding: 30px 0px;
  width: 80%; }
  .pricing-table .plan-box, .pricing-table .entrepreneur-box {
    background-color: #FEFEFE;
    border: 1px solid #efefef;
    padding: 40px;
    /* padding of a plan */ }
  .pricing-table .entrepreneur-box {
    /* shift entrepreneur plan up */
    margin-top: -25px; }
  @media (max-width: 768px) {
    .pricing-table {
      /* when the plans collaspe */ }
      .pricing-table .free-plan, .pricing-table .partner-plan, .pricing-table .entrepreneur-box {
        margin: 30px 0px; } }
  .pricing-table .price-label {
    font-size: 60px;
    margin: 10px 10px 0px 10px; }
  .pricing-table .commissions {
    color: #B71C1C; }
  .pricing-table .plan-features {
    padding-top: 20px;
    padding-bottom: 30px; }

/* add in the caregiver types carousel here */
.featured {
  background-color: #efefef;
  padding: 40px 0px; }

/* SEARCH PAGE */
.search-card {
  /* a search profile */
  background-color: #FEFEFE;
  margin-top: 20px;
  /* top right bottom left */
  cursor: pointer;
  position: relative;
  /* so the link spanner spans to the card */ }
  .search-card .card-dp {
    width: 100%; }
  .search-card .card-desc {
    /* div for container below image */
    padding: 12px 20px; }
    .search-card .card-desc .card-about {
      margin-top: 15px; }
    .search-card .card-desc h4, .search-card .card-desc p {
      /* for the name and other desc. */
      margin-bottom: 3px; }
    .search-card .card-desc a {
      color: #000000; }

.link-spanner {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1; }

@media (min-width: 768px) {
  .row.equal {
    /* make both cols equally long */
    display: flex;
    flex-wrap: wrap; } }
