/*
    HealthyLovedOnes SCSS + Bootstrap
    Author: Kristel Fung
    Version: v1.0.0
*/
/* BASE - styles, variables, mixins... */
/* primary colors */
/* secondary colors */
/* tertiary colors */
/* blacks and whites */
/* body texts*/
/* hovered buttons */
@font-face {
  font-family: 'NotoSans';
  src: local("NotoSans"), url(../fonts/NotoSans/NotoSans-Regular.ttf) format("ttf"); }

html, body {
  font-family: NotoSans, Helvetica;
  color: #000000;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden; }

h3 {
  font-size: 26px; }

h4 {
  font-size: 22px; }

h5 {
  font-size: 16px; }

h6 {
  font-size: 12px; }

p {
  font-size: 14px; }

hr {
  border-top: 1px solid #919191;
  opacity: 0.4; }

/* TODO: ADD LI???? */
h1, h2, h3, h4, h5, h6, p {
  opacity: 0.87; }

.text-center {
  text-align: center; }

.container-small {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }

@media (min-width: 768px) {
  .container-small {
    width: 700px; } }

@media (min-width: 992px) {
  .container-small {
    width: 700px; } }

@media (min-width: 1200px) {
  .container-small {
    width: 700px; } }

/* misc */
.fa-star, .fa-star-half-o, .fa-star-half-o {
  color: #FFC107; }

.label-success {
  background-color: #174c1b;
  margin-right: 5px; }

/* COMPONENTS - buttons, cards... */
/* button */
.btn {
  border-radius: 5px;
  padding: 8px 15px; }

/* primary CTA */
.btn-primary {
  background-color: #F06292;
  border-color: #F06292; }

/* hover of primary CTA */
.btn-primary:hover, .btn-primary:active, .btn-primary:focus, .btn-primary:active:hover {
  background-color: #f06fa0;
  border-color: #f06fa0; }

/* secondary CTA */
.btn-default {
  background-color: #efefef;
  border-color: #efefef; }

/* hover of secondary CTA */
.btn-default:hover, .btn-default:active, .btn-default:focus, .btn-default:active:hover {
  background-color: #E6E6E6;
  border-color: #E6E6E6; }

/* secondary CTA, clear version */
.btn-default-clear {
  background-color: transparent;
  border-color: #FEFEFE;
  color: #ffffff;
  transition: background 0.2s linear; }

.btn-default-clear:hover, .btn-default-clear:active, .btn-default-clear:focus, .btn-default-clear:active:hover {
  background-color: #FEFEFE;
  color: #000000; }

/* button customizations for certain pages */
.home-buttons {
  /* larger home buttons */ }
  .home-buttons .btn {
    margin-right: 15px;
    padding: 12px 30px;
    border-radius: 8px; }

.pricing-table .btn {
  width: 80%;
  padding: 15px 0px;
  border-radius: 8px; }

.login-buttons .btn {
  padding: 20px 0px;
  border-radius: 15px;
  margin: 15px;
  display: block; }

.caregiver-card {
  /* a search profile */
  background-color: #FEFEFE;
  margin: 20px 5px 15px 5px;
  /* top right bottom left */
  cursor: pointer;
  position: relative;
  /* so the link spanner spans to the card */ }
  .caregiver-card .card-dp {
    width: 100%; }
  .caregiver-card .card-desc {
    /* div for container below image */
    padding: 12px 20px; }
    .caregiver-card .card-desc .card-about {
      margin-top: 15px; }
    .caregiver-card .card-desc h4, .caregiver-card .card-desc p {
      /* for the name and other desc. */
      margin-bottom: 3px; }
    .caregiver-card .card-desc a {
      color: #000000; }

.link-spanner {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1; }

/* LAYOUTS - footer, header, navbar */
.footer-top {
  background-color: #424242;
  color: #ffffff; }
  .footer-top .row {
    padding: 50px 0px; }
  .footer-top h3 {
    font-weight: bold; }
  .footer-top li {
    line-height: 1.6;
    opacity: 0.87; }
  .footer-top li:hover {
    opacity: 1; }
  .footer-top .logo-container {
    text-align: right;
    padding-top: 180px; }
  .footer-top .footer-logo {
    height: 40px;
    display: inline-block;
    padding: 0px 12px; }
  .footer-top a {
    color: #ffffff;
    text-decoration: none; }

.footer-bottom {
  background-color: #1B1B1B;
  color: #ffffff;
  padding: 20px 0px 10px 0px; }

.header {
  background-color: #E53935;
  color: #ffffff;
  padding: 20px 0px 30px 0px; }
  .header .header-image-col {
    text-align: right; }
  .header .header-image {
    width: 50%; }

/* get the sizes of the navbar right */
.navbar {
  min-height: 70px;
  margin-bottom: 0px; }
  .navbar .navbar-nav {
    /* style the dropdown menu, detach from navbar */
    /* carrot arrow */ }
    .navbar .navbar-nav a {
      line-height: 70px;
      padding-top: 0px;
      padding-bottom: 0px; }
    .navbar .navbar-nav .dropdown-menu {
      margin-top: 15px;
      border-radius: 4px;
      /* round menu */ }
      .navbar .navbar-nav .dropdown-menu > li > a {
        line-height: 45px; }
    .navbar .navbar-nav .dropdown-menu:after {
      content: "";
      position: absolute;
      right: 5px;
      top: -8px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 17px 17px 17px;
      border-color: transparent transparent #FEFEFE transparent;
      z-index: 9998; }

/* styles of the default white */
.navbar-default {
  background-color: transparent;
  border: none; }
  .navbar-default .navbar-nav > .open, .navbar-default .nav > .open {
    /* dropdown is OPEN */ }
    .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open a:focus, .navbar-default .navbar-nav > .open a:hover, .navbar-default .navbar-nav > .open a:active, .navbar-default .nav > .open > a, .navbar-default .nav > .open a:focus, .navbar-default .nav > .open a:hover, .navbar-default .nav > .open a:active {
      background-color: transparent;
      color: #424242; }
  .navbar-default .navbar-nav > li:hover, .navbar-default .navbar-nav li:active, .navbar-default .navbar-nav li:focus, .navbar-default .nav > li:hover, .navbar-default .nav li:active, .navbar-default .nav li:focus {
    /* when dropdown is hovered/clicked, style the <a> link */ }
    .navbar-default .navbar-nav > li:hover > a, .navbar-default .navbar-nav > li:hover a:hover, .navbar-default .navbar-nav li:active > a, .navbar-default .navbar-nav li:active a:hover, .navbar-default .navbar-nav li:focus > a, .navbar-default .navbar-nav li:focus a:hover, .navbar-default .nav > li:hover > a, .navbar-default .nav > li:hover a:hover, .navbar-default .nav li:active > a, .navbar-default .nav li:active a:hover, .navbar-default .nav li:focus > a, .navbar-default .nav li:focus a:hover {
      background-color: transparent;
      color: #424242; }
  .navbar-default .navbar-nav > li, .navbar-default .nav > li {
    padding: 0px 3px 0px 3px; }
    .navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav > li a:hover, .navbar-default .navbar-nav > li a:focus, .navbar-default .nav > li > a, .navbar-default .nav > li a:hover, .navbar-default .nav > li a:focus {
      /* link color on hover */
      color: #424242; }
  .navbar-default .navbar-nav > .active, .navbar-default .nav > .active {
    /* current link is the page u are on */ }
    .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active a:hover, .navbar-default .navbar-nav > .active a:focus, .navbar-default .nav > .active > a, .navbar-default .nav > .active a:hover, .navbar-default .nav > .active a:focus {
      background-color: transparent;
      color: #424242; }

/* logo styling */
.navbar-brand {
  padding: 0px;
  min-height: 70px; }

.logo {
  height: 100%;
  padding: 10px 5px 10px 5px;
  margin-left: 5px; }

/* navbar divider the ||| */
.navbar-divider {
  line-height: 70px; }

/* HOME PAGE */
.jumbotron {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/home/home-background.jpg");
  background-size: cover;
  background-position: center center;
  min-height: 500px;
  color: #ffffff;
  margin-bottom: 0px; }

.jumbotron h1 {
  font-size: 42px; }

.jumbotron p {
  font-size: 16px; }

.hlo-desc {
  padding: 15px 5px 60px 5px;
  /* top right bottom left */
  text-align: center; }

.home-buttons {
  /* transparent black container */
  text-align: left;
  width: 550px;
  padding: 40px 60px 50px 40px;
  margin-right: 0px;
  background-color: rgba(0, 0, 0, 0.7); }

.green-bar {
  background-color: #174c1b;
  padding: 10px 0px;
  color: #ffffff; }
  .green-bar .col-sm-8 {
    text-align: right; }
  .green-bar a {
    color: #ffffff; }

.home-about-media {
  width: 70%;
  padding: 50px 0px; }

@media (max-width: 768px) {
  /* mobile for graphic and vid */
  .home-about-media {
    width: 100%; } }

.home-about {
  text-align: center;
  padding: 60px 10px; }

.pricings {
  background: linear-gradient(#388E3C, #174c1b);
  /* Standard syntax */
  color: #ffffff;
  text-align: center;
  padding: 50px 0px; }

.insurance {
  padding-top: 20px; }

@media (min-width: 767px) {
  .insurance {
    padding: 40px 120px 10px 120px;
    /* top right bottom left */
    opacity: 0.75; } }

.price-box {
  /* contains HK$ 0/mo */
  display: inline-block;
  text-align: left;
  color: #B71C1C;
  position: relative; }

.dollar {
  /* the HK$ */
  position: absolute;
  /* makes it float */
  margin-top: 20px;
  left: -15px; }

.per-month {
  /* /mo */
  position: absolute;
  /* float */
  margin-top: 51px;
  right: -15px; }

.pricing-table {
  margin: 0 auto;
  margin-top: 40px;
  color: #000000;
  padding: 30px 0px;
  width: 80%; }
  .pricing-table .plan-box, .pricing-table .entrepreneur-box {
    background-color: #FEFEFE;
    border: 1px solid #efefef;
    padding: 40px;
    /* padding of a plan */ }
  .pricing-table .entrepreneur-box {
    /* shift entrepreneur plan up */
    margin-top: -25px; }
  @media (max-width: 768px) {
    .pricing-table {
      /* when the plans collaspe */ }
      .pricing-table .free-plan, .pricing-table .partner-plan, .pricing-table .entrepreneur-box {
        margin: 30px 0px; } }
  .pricing-table .price-label {
    font-size: 60px;
    margin: 10px 10px 0px 10px; }
  .pricing-table .commissions {
    color: #B71C1C; }
  .pricing-table .plan-features {
    padding-top: 20px;
    padding-bottom: 30px; }

/* add in the caregiver types carousel here */
.featured {
  background-color: #efefef;
  padding: 40px 0px; }

/* INFO PAGE */
/* PROFILE PAGE */
.profile-body {
  padding: 70px 60px 30px 60px;
  /* top right bototm left */
  border-right: 1px solid #919191; }

@media (min-width: 768px) {
  .profile-body {
    margin-top: -70px; } }

.profile-section {
  padding: 10px 0px; }

.table > tbody > tr > td {
  line-height: 2.2; }

.reviewer-info {
  margin-top: 30px; }

.review-pic {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  float: left;
  margin-right: 15px; }

.review-desc {
  padding-top: 10px;
  padding-bottom: 10px; }

.review-date {
  text-align: right;
  color: #000000; }

.profile-cover {
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  background-size: cover;
  background-position: center center;
  height: 300px; }

.profile-head {
  margin-top: -150px; }

@media (max-width: 767px) {
  .profile-head {
    /* center name when mobile */
    text-align: center; } }

.label-success {
  background-color: #174c1b; }

.name {
  padding-top: 50px; }
  .name h1 {
    color: #ffffff;
    font-weight: bold; }

.rating {
  font-size: 20px; }

.rating a {
  color: #ffffff; }

@media (max-width: 767px) {
  /* name container mobile */
  .name {
    padding-top: 0px; }
    .name h1 {
      color: #000000; }
  .rating a {
    color: #000000; } }

.profile-buttons {
  text-align: center; }
  .profile-buttons .btn {
    margin-right: 2px;
    margin-left: 2px;
    margin-top: 100px; }

@media (max-width: 767px) {
  .profile-buttons .btn {
    margin-top: 0px; } }

.profile-pic {
  background-size: cover;
  background-position: center center;
  border-radius: 50%;
  width: 220px;
  height: 220px;
  border: 8px solid #efefef;
  display: inline-block;
  /* make prof pic div not larger than contents */
  position: relative;
  /* allows absolute positioning of favorite button */ }

@media (min-width: 768px) {
  .profile-pic {
    /* profile pic float right when not mobile */
    float: right; } }

/* TODO: fixlater */
.favorite {
  background-color: #FEFEFE;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  position: absolute;
  right: 5px;
  top: 5px; }
  .favorite .fa-plus {
    /* make icon centered */
    color: #919191;
    position: absolute;
    font-size: 24px;
    right: 10px;
    top: 9px; }
  .favorite .fa-heart {
    /* make icon centered */
    color: #E53935;
    position: absolute;
    font-size: 22px;
    right: 9px;
    top: 11px; }

@media (min-width: 768px) {
  .profile-sidebar {
    margin-top: -70px; } }

/* black bar */
.location-bar {
  color: #ffffff;
  background-color: #1B1B1B;
  padding: 15px 25px 5px 25px;
  /* top right bottom left */
  margin-left: -15px;
  /* fix until collaspe */ }

.sidebar-section {
  padding: 10px 10px 0px 10px; }
  .sidebar-section h5 {
    font-weight: bold; }
  .sidebar-section p {
    padding-bottom: 20px; }

.fail-check {
  color: #E53935; }

.pass-check {
  color: #388E3C; }

/* dashboard */
.dashbar {
  padding-top: 20px;
  padding-bottom: 10px; }
  .dashbar .col-xs-3 {
    opacity: 0.4; }
  .dashbar .active {
    opacity: 1; }

.dashboard-logo {
  height: 40px;
  padding: 5px; }

.dashbody {
  border-top: 1px solid #efefef;
  /* border between dashboard tabs */
  padding-top: 20px;
  padding-bottom: 40px; }

.button-col {
  text-align: right;
  /* new job button */ }
  .button-col a {
    margin-top: 20px; }

.job {
  background-color: #FCE4EC;
  border-radius: 10px;
  border: 1px solid #F48FB1;
  padding: 15px 30px;
  margin-top: 20px; }
  .job .job-left {
    text-align: right; }

.job-status {
  height: 60px;
  margin-top: -15px; }

.expand-job {
  font-size: 40px;
  margin-left: 10px;
  color: #1B1B1B; }

/* messages */
/* get rid of grey borders */
.modal-header {
  border-bottom: none; }

.modal-footer {
  border-top: none; }

.submit-buttons {
  text-align: right; }

.inbox {
  /* the entire table */
  width: 100%;
  margin-top: 20px; }

/* inbox */
.inbox-message {
  /* the message row */
  border-top: 1px solid #efefef;
  border-bottom: 1px solid #efefef; }
  .inbox-message td {
    padding: 8px; }
  @media (min-width: 768px) {
    .inbox-message td {
      padding: 15px;
      /* padding for a message */ } }

.tab-content {
  /* entire tab */
  padding-top: 20px; }

.message-pic {
  /* profile pic of message sender */
  height: 70px;
  border-radius: 50%; }

.image-td {
  /* width of td for profile pic */
  width: 70px; }

.message-time {
  /* timestamp */
  color: #424242;
  font-size: 12px; }

.message-title {
  font-weight: bold; }

.message-author, .message-title {
  font-size: 18px; }

.message-author, .message-time, .message-title, .message-preview {
  margin: 5px 0px; }

.fa-circle {
  color: #388E3C; }

.read {
  background-color: #f9f9f9; }

.all-messages {
  margin: 20px 0px; }

.message-body {
  border-top: 1px solid #efefef;
  border-bottom: 1px solid #efefef;
  padding: 20px 0px; }
  .message-body img {
    /* profile pic of sender */
    border-radius: 50%;
    float: left;
    width: 70px;
    margin-right: 20px;
    clear: both; }
  .message-body p {
    margin-top: 30px; }

/* login + sign up */
.login-column {
  padding-top: 100px; }
  .login-column .login-logo {
    width: 70px;
    display: block;
    margin: 0 auto; }
  .login-column .login {
    max-width: 250px;
    margin: 0 auto;
    margin-top: 20px; }
  .login-column button {
    display: block;
    margin: 0 auto;
    width: 100%; }

.login-links {
  text-align: center;
  padding: 20px; }
  .login-links a {
    line-height: 2; }

.why-hlo {
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../images/login-background.jpg");
  background-size: cover;
  background-position: center center;
  color: #ffffff;
  text-align: center;
  padding-top: 150px; }
  .why-hlo .why-hlo-desc {
    max-width: 330px;
    margin: 0 auto;
    text-align: left; }
    .why-hlo .why-hlo-desc h3 {
      margin-bottom: 30px; }
    .why-hlo .why-hlo-desc p {
      line-height: 2; }
    .why-hlo .why-hlo-desc .fa-heart {
      margin-right: 10px; }

.show-alert {
  transition: opacity 1s;
  opacity: 1; }

.hide-alert {
  transition: opacity 1s;
  opacity: 0;
  pointer-events: none; }

/* Search page */
/* search filters */
.search-filters {
  /* entire column, master div */
  background-color: #E53935;
  position: relative;
  padding: 30px;
  /* search box styling */ }
  .search-filters .fa-search {
    position: absolute;
    color: #424242;
    top: 40px;
    left: 40px; }
  .search-filters input {
    text-indent: 18px; }

.location-filter, .technical-filter, .languages-filter {
  /* filter categories */
  cursor: pointer;
  color: #ffffff;
  margin-top: 30px; }
  .location-filter ul, .technical-filter ul, .languages-filter ul {
    /* list of specific filters */
    list-style-type: none;
    padding-left: 8px;
    /* indent */ }
    .location-filter ul li, .technical-filter ul li, .languages-filter ul li {
      /* spacing for a filter */
      padding: 10px 15px;
      margin: 5px; }
  .location-filter .filter-selected, .technical-filter .filter-selected, .languages-filter .filter-selected {
    /* a filter */
    background-color: #B71C1C;
    border-radius: 5px; }

/* search body CONTAINING ALL THE CARDS*/
.search-body {
  background-color: #FCE4EC; }

.search-card {
  /* a search profile */
  background-color: #FEFEFE;
  margin: 20px 5px 0px 5px;
  /* top right bottom left */
  cursor: pointer;
  position: relative;
  /* so the link spanner spans to the card */ }
  .search-card .card-dp {
    width: 100%; }
  .search-card .card-desc {
    /* div for container below image */
    padding: 12px 20px; }
    .search-card .card-desc .card-about {
      margin-top: 15px; }
    .search-card .card-desc h4, .search-card .card-desc p {
      /* for the name and other desc. */
      margin-bottom: 3px; }
    .search-card .card-desc a {
      color: #000000; }

.link-spanner {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1; }

@media (min-width: 768px) {
  .row.equal {
    /* make both cols equally long */
    display: flex;
    flex-wrap: wrap; } }
