.footer-top {
    background-color: $grey;
    color: $purewhite;

    .row {
        padding: 50px 0px;
    }

    h3 {
        font-weight: bold;
    }

    li {
        line-height: 1.6;
        opacity: 0.87;
    }

    li:hover {
        opacity: 1;
    }

    .logo-container {
        text-align: right;
        padding-top: 180px;
    }

    .footer-logo {
        height: 40px;
        display: inline-block;
        padding: 0px 12px;
    }

    a {
        color: $purewhite;
        text-decoration: none;
    }
}

.footer-bottom {
    background-color: $black;
    color: $purewhite;
    padding: 20px 0px 10px 0px;
}
