.dashbody {
    border-top: 1px solid $lightgrey; /* border between dashboard tabs */
    padding-top: 20px;
    padding-bottom: 40px;
}

.button-col {
    text-align: right; /* new job button */

    a {
        margin-top: 20px;
    }
}

/* form styles */

.expander {
  display: inline-block;
  position: relative;
  left: 400px;
}

.status-logo {
  width: 50px;
  height: 50px;
}

.title {
    text-align: center;
    margin-bottom: 250px;

    img {
      margin-left: 550%;
    }
}

.date {
    position: relative;
    bottom: 10px;
}

.next {
      float: right;
}

.back {
       float: left;
}

.profile-pic {
    background-size: cover;
    background-position: center center;
    border-radius: 50%;
    width: 220px;
    height: 220px;
    border: 8px solid $lightgrey;
    display: inline-block;
    position: relative;
}

.jobs-buttons {
    text-align: center;

    .btn {
        margin-right: 5px;
        margin-left: 5px;
        margin-top: 30px;
    }
}

@media (max-width: 767px) {
    .jobs-buttons {
        .btn {
            margin-top: 0px;
        }
    }
  }
