.jumbotron {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../images/home/home-background.jpg');
    background-size: cover;
    background-position: center center;
    min-height: 500px;
    color: $purewhite;
    margin-bottom: 0px;
}

.jumbotron h1 {
    font-size: 42px;
}

.jumbotron p {
    font-size: 16px;
}

.hlo-desc {
    padding: 15px 5px 60px 5px; /* top right bottom left */
    text-align: center;
}

.home-buttons { /* transparent black container */
    text-align: left;
    width: 550px;
    padding: 40px 60px 50px 40px;
    margin-right: 0px;
    background-color: rgba(0, 0, 0, 0.7);
}

.green-bar {
    background-color: $darkgreen;
    padding: 10px 0px;
    color: $purewhite;

    .col-sm-8 {
        text-align: right;
    }

    a {
        color: $purewhite;
    }
}
